body{
    font-family: "Corbel" !important;
    background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/341097194_1286142925308642_3652877201242126564_n.png?_nc_cat=109&ccb=1-7&_nc_sid=aee45a&_nc_ohc=2feZqOFmwpsAX8AfaVi&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTJKMpuoakMe_E7406uBsweBHLR5md80txfc_HzF-uH6A&oe=6468B7E3");
    margin: 0;
    backdrop-filter: blur(10px);
    text-align: center;
    overflow: hidden;
    background-size: 100vw 120vh;
    background-attachment: fixed;
}

h2{
    margin-bottom: 0px;
}

ul{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #f1f1f1;
    list-style-type: none;
    text-align: left;
    padding: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.container{
    padding: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #fffaf6;
    box-shadow: black 0 0 50px;
    height: 100vh;
    text-align: center;
}

a{
    color: blue;
    padding: 0;
    margin: 0;
}

.goBackA{
    text-decoration: none;
}

input{
    margin-top: 10px;
}

input[type="text"],
input[type="number"]{
    background: #f8faff;
    width: 300px;
    height: 50px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 100;
}

input[type="submit"]{
    width: 200px;
    height: 50px;
    background: #eaeaea;
    text-align: center;
    font-size: 15px;
    color: black;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

input[type="submit"]:hover{
    box-shadow: black 0px 0px 3px;
    cursor: pointer;
}

form{
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.goBack{
    min-width: 150px;
    height: 50px;
    background: #ffbb68;
    color: white;
    font-weight: 900;
    text-align: center;
    border: 0;
    font-size: 20px;
}

.goBack:hover{
    box-shadow: black 0px 0px 3px;
    cursor: pointer;
}

td, th{
    border: 1px solid #e7e7e7;
    text-align: left;
    padding: 3px;
    min-width: 100px;
}

th{
    border: 1px solid black;
}

select{
    margin-top: 10px;
    width: 275px;
    padding: 10px;
    border-radius: 7px;
    background: #f8f4f2;

}

option{
    margin-bottom: 4px;
    font-size: 15px;
}

option:hover{
    cursor:pointer;
    background: #fff8db;
}