:root{
    --mainColor: rgba(0, 108, 255, 0.6);
}

body{
    font-family: "Corbel", serif !important;
    background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/341097194_1286142925308642_3652877201242126564_n.png?_nc_cat=109&ccb=1-7&_nc_sid=aee45a&_nc_ohc=2feZqOFmwpsAX8AfaVi&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTJKMpuoakMe_E7406uBsweBHLR5md80txfc_HzF-uH6A&oe=6468B7E3");
    margin: 0;
    backdrop-filter: blur(10px);
    text-align: center;
    background-size: 100vw 120vh;
    background-attachment: fixed;
    overflow: hidden;
    box-shadow: inset 0 0 0 2000px var(--mainColor);
}


.markDiv{
    width: 100px;
    height: 40px;
    font-size: 24px;
    background: #eeeeee;
    color: #000000;
    font-weight: 900;
    line-height: 40px;
    /*box-shadow: black 0px 0px 3px;*/
}
.markDiv:hover{
    cursor: pointer;
}

.bigMarkDiv{
    float: left;
    margin-left: 10px;
}

.subjectMark{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    background: white;
    box-shadow: black 0px 0px 3px;
}

.markImportance{
    font-size: 14px;
    border-left: 1px solid black;
    padding-left: 5px;
}

.removeTeacher{
    min-width: 100px;
    height: 35px;
    background: var(--mainColor);
    color: white;
    font-weight: 900;
    text-align: center;
    border: 0;
    font-size: 13px;
}

h2{
    margin-bottom: 0;
    margin-top: 20px;
}

ul{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #f1f1f1;
    list-style-type: none;
    text-align: left;
    padding: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.container{
    padding: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #fffaf6;
    box-shadow: black 0 0 50px;
    height: 100vh;
    text-align: center;
    overflow: scroll;
    position: relative;
}

a{
    color: blue;
    padding: 0;
    margin: 0;
}

td > a {
    margin-right: 7px;
}

.goBackA{
    text-decoration: none;
    margin-right: 0;
}

input{
    margin-top: 10px;
}

.formLogout{
    position: absolute;
    top: 0;
    left: 0;
}

input[type="text"],
input[type="number"],
input[type="password"]{
    background: #f4fbff;
    width: 300px;
    height: 50px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 100;
}

input[type="submit"]:not(.fa){
    width: 200px;
    height: 50px;
    background: #eaeaea;
    text-align: center;
    font-size: 15px;
    color: black;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

input[type="submit"]:hover:not(.fa){
    box-shadow: black 0px 0px 3px;
    cursor: pointer;
}

.fa, .fa-id-badge{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 30px;
    border-radius: 0px;
    border: 0;
    background: red;
    color: white;
    font-weight: 900;
}

.fa:hover{
    cursor: pointer;
    box-shadow: black 0px 0px 3px;
}

form{
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.goBack{
    min-width: 150px;
    height: 50px;
    background: var(--mainColor);
    color: white;
    font-weight: 900;
    text-align: center;
    border: 0;
    font-size: 20px;
}

.goBack:hover, .removeTeacher:hover, .deleteNo:hover, .deleteYes:hover{
    box-shadow: black 0px 0px 3px;
    cursor: pointer;
}

td, th{
    border: 1px solid #e7e7e7;
    text-align: left;
    padding: 3px;
    min-width: 100px;
}

th{
    border: 1px solid black;
}

select{
    margin-top: 10px;
    width: 275px;
    padding: 10px;
    border-radius: 7px;
    background: #f8f4f2;

}

option{
    margin-bottom: 4px;
    font-size: 15px;
}

option:hover{
    cursor:pointer;
    background: #fff8db;
}

.deleteNo, .deleteYes{
    min-width: 100px;
    height: 30px;
    color: white;
    font-weight: 900;
    text-align: center;
    border: 0;
    font-size: 13px;
}

.deleteNo{
    background: green;
}

.deleteYes{
    background: red;
}

.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: normal;
    line-height: 19px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;


    opacity: 0;
    transition: opacity 0.7s;
}


.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}